.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.dashboard.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/index.html
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/bootstrap/css/bootstrap.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/bootstrap/css/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/bootstrap/js/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/bootstrap/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/application.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/blog.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/buttons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/dashboard.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/docs.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/flexbox.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/fontcustom.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/highlight.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/homepage.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/icons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/main.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/markdown-content.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/panes.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/projects.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/responsive.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/tools.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/css/typography.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/font-awesome/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/font-custom/fontcustom.woff
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/blog.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/blog_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/bug_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/comparison_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/compass.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/compass_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/extension.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/extension_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/favicon.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/forum.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/forum_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/guides.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/guides_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/loading.gif
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/logo_bigleaf.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/logo_spring.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/logo_sts.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/new_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/overlay-incoming.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/question.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/springdocs.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/springdocs_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/img/spring-logo.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/js/application.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/js/filter.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/js/guide.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/js/jquery.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1628555551087/common/js/modernizer.flexbox.js
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/-1223306788.xml
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.vmware.vfabric.ide.eclipse.tcserver.configurator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ajdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.ui/dialog_settings.xml
.metadata/.plugins/org.springframework.ide.eclipse.aop.core/.state
.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/metadata/.state
.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/properties/.state
